<div>
  <h4>First question answer (Enter Range)</h4>
  <div><label>Start Number : </label> <input type="text" #start /></div>
  <br />
  <div><label>End Number : </label> <input type="text" #end /></div>
  <br />
  <button (click)="onAnswerClick('FIRST', start.value, end.value)">
    Find Output
  </button>
  <div>{{ macroPolo }}</div>

  <hr />
  <h4>Second question answer</h4>
  <h5>
    1. What is the difference between imports, declarations, and providers?
  </h5>
  <p>
    Import : Import is used for taking the other modules or component in current
    module.
  </p>
  <p>
    Declarations : Declarations is an array which stores the components,
    Directive and pipe name in Module file. By inserting the value in
    declarations array, it will be available wherever the module imported.
  </p>
  <p>
    Porviders : Providers is also an array which stores the service file.
    Service file is also known as Singleton class.
  </p>
  <ul>
    <h5>There are two ways to store the providers</h5>
    <li>
      Insert into module's providers arrya and it will be available for that
      module.
    </li>
    <li>
      Or insert into components providers array, in this situation it will be
      available only for the current component
    </li>
  </ul>

  <h5>
    2. What is the difference between components, directives, models, modules,
    and services?
  </h5>
  <p>
    components : It is the combination of html, css, spec and ts files.It will
    be a view.
  </p>
  <p>
    directives : It is used for manupulation of DOM. It will be invoke in
    component tag to make that component proper
  </p>
  <p>models : It is used for storing the relevant details</p>
  <p>
    modules : It is combination of multiple components, pipes, directives and
    services.
  </p>
  <p>
    services : It is used for communcation between componentes and also the
    purpose of API calling. It will be push on providers array. It is also known
    as Singleton class.
  </p>
  <hr />
  <h4>Third question answer</h4>
  <button (click)="onAnswerClick('THIRD', 1, 1)">Get Invoice Details</button>
</div>
<br/>
<hr/>
<br/>
<div>
  <h4>Tree Structure Sample (Recursion using component)</h4>
  <app-tree-node [node]='node'></app-tree-node>
</div>
